body * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 110px;
    color: rgb(253, 6, 167);
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 2px solid black;
}
.logo{
    grid-row: 2;
    grid-column: 1/ span 2;
}
.nav-header{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    font-size: 40px;
}
.github{
    grid-row: 1;
    grid-column: 3;
    display: inline;
}
.linkedin{
    grid-row: 1;
    grid-column: 3;
    display: inline;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 5px;
}
.text {
    flex: 1;
    text-align: justify;
}
.photo {
    flex: 1;
    text-align: center;
}
.holder {
    flex: 1;
    text-align: justify;
}
footer {
    background-color: rgb(253, 6, 167);
    padding: 10px;
    text-align: center;
    color: white;
}